
@font-face {
    font-family: 'FZYanSJW_Xian';
    src: url('https://app-common.ks3-cn-beijing.ksyun.com/cartoon/FZYanSJW_Xian.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'HYRuiYiSongJ';
  src: url('https://app-common.ks3-cn-beijing.ksyun.com/cartoon/HYRuiYiSongJ.ttf')
  font-weight: normal;
  font-style: normal;
}

